.tree {
  margin-top: 50px;
  color: #fff;
}

.dirOuter {
  padding: 7px 15px;
  border-radius: 5px;
  background: #242627;
  margin: 8px 0;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
  overflow-x: auto;
}

.dirOuter img {
  height: 18px; 
  width: auto;
  margin-right: 10px;
}

.active, .dirOuter:hover {
  background: rgba(0,0,0,0.7);
}