.lock {
  margin-top: 20px;
  text-align: center;
}

.lock button, .unlockButton {
  outline: none;
  background: none;
  padding: 10px 20px;
  border: 3px solid rgb(37, 38, 40);
  width: 100%;
  border-radius: 25px;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.1s ease;
}

.unlockButton {
  max-width: 300px;
}

.lock button:hover {
  background:rgb(37, 38, 40);
}

.lockModalOuter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
  backdrop-filter: blur(7px);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3 ease;
  z-index: 100;
}

.lockModal {
  background: #2c2d31;
  width: 100%;
  height: 100%;
  max-width: 500px;
  max-height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: 16;
  margin: 20px;
  padding: 40px;
  border-radius: 25px;
  border: 1px solid rgb(136, 136, 136);
}

.lockModalPassword {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lockModalPassword .input {
  width: 60px;
  height: 60px;
  margin: 10px;
  background: transparent;
  outline: none;
  border: 3px solid rgb(37, 38, 40);
  border-radius: 10px;
  padding: 20px;
  color: #fff;
  font-size: 25px;
}

.error {
  border-color:rgb(36, 36, 36) !important;
}

@media screen and (max-width: 768px) {
  .lockModalPassword .input, .lock button, .unlockButton {
    border-width: 0.2rem;
  }
}