.sidebar {
  background: #2c2d31;
  margin: 20px;
  padding: 20px;
  border-radius: 25px;
  width: 100%;
  max-width: 300px;
  min-height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}